@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&family=Noto+Sans&display=swap');

.navbar-wrapper-mobile {
    display: flex;
    background-color: #FFF;
    padding-left: 23.62px;
    padding-right: 34px;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    z-index: 1000;
    position: relative;

    .hamburger {
        margin-right: 10.62px;
        color: #7A7A7A;
    }

    input {
        flex: 1;
        border-color: #000;
        height: 29.41px;
        border-width: 1.12902px;
        border-style: solid;
        border-radius: 31.6125px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #2E2E2E;
        padding-left: 16px;
        padding-right: 40px;
    }

    .search-icon {
        position: absolute;
        color: #282828;
        right: 47.86px;
    }

    .nav-menu {
        height: 250px;
        width: 250px;
        background-color: #595959;
        position: absolute;
        left: 24px;
        top: 47px;
        border-radius: 15px;
        border-top-left-radius: 0px;
        display: flex;
        flex-direction: column;

        .nav-menu-chip {
            position: absolute;
            content: '';
            border: 15px solid transparent;
            border-left-color: #595959;
            top: -15px;
            left: 0px;
        }

        .header {
            width: 100%;
            height: 40px;
            padding-left: 12.34px;
            align-items: center;
            display: flex;
            flex-direction: row;
            border-bottom: 0.0881579px solid #bbb9b9;

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 13px;
                text-decoration-line: underline;
                color: #FFFFFF;
            }
        }

        .nav-item {
            width: 100%;
            height: 30px;
            border-bottom: 0.0881579px solid #bbb9b9;
            padding-left: 12.34px;
            align-items: center;
            display: flex;
            flex-direction: row;

            p {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 12px;
                line-height: 11px;
                color: #FFFFFF;
            }

            .icon {
                padding-right: 5px;
                color: #FFF;
            }
        }

        .footer {
            width: 100%;
            flex: 1;
            padding-right: 17.96px;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            p {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 12px;
                line-height: 11px;
                color: #FFFFFF;
                padding-right: 5px;
            }

            .icon {
                color: #FFF;
            }
        }
    }

    .hide {
        display: none;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.navbar-wrapper-desktop {
    display: none;
    position: relative;
    z-index: 1000;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        background-color: #646464;
        width: 100%;
        height: 74px;
        padding-left: 35.62px;
        padding-right: 60px;
        align-items: center;
    }

    .hamburger {
        color: #FFF;
        cursor: pointer;
    }

    .logo-text p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 58.4px;
        line-height: 71px;
        display: flex;
        align-items: flex-end;
        padding-left: 100px;

        background: linear-gradient(86.81deg, #232323 -15.84%, rgba(0, 0, 0, 0.48) 106.05%, rgba(0, 0, 0, 0) 132.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        .smaller {
            font-size: 40px;
        }
    }

    .flex-wrapper {
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;

        .input-wrapper {
            position: relative;
            display: flex;
            width: 608px;
            flex-direction: row;
            align-items: center;
    
            input {
                width: 608px;
                border-color: #FFF;
                height: 30px;
                border-width: 1px;
                border-style: solid;
                border-radius: 28px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #C8C8C8;
                padding-left: 16px;
                padding-right: 40px;
                background-color: transparent;
    
                
            }
        
            .search-icon {
                position: absolute;
                color: #C8C8C8;
                right: 15px;
                cursor: pointer;
            }
        }
    }

    .icon-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .icon {
            color: #FCFCFC;
            margin-left: 41.97px;
            cursor: pointer;
        }
    }

    .nav-menu {
        height: 250px;
        width: 250px;
        background-color: #1A1A1A;
        position: absolute;
        left: 35.62px;
        top: calc(50% + 30px);
        border-radius: 15px;
        border-top-left-radius: 0px;
        display: flex;
        flex-direction: column;

        .nav-menu-chip {
            position: absolute;
            content: '';
            border: 15px solid transparent;
            border-left-color: #1A1A1A;
            top: -15px;
            left: 0px;
        }

        .header {
            width: 100%;
            height: 40px;
            padding-left: 12.34px;
            align-items: center;
            display: flex;
            flex-direction: row;
            border-bottom: 0.0881579px solid #bbb9b9;

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 13px;
                text-decoration-line: underline;
                color: #FFFFFF;
            }
        }

        .nav-item {
            width: 100%;
            height: 30px;
            border-bottom: 0.0881579px solid #bbb9b9;
            padding-left: 12.34px;
            align-items: center;
            display: flex;
            flex-direction: row;
            background-color: transparent;
            cursor: pointer;
            transition: all 250ms linear;

            p {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 12px;
                line-height: 11px;
                color: #FFFFFF;
            }

            .icon {
                padding-right: 5px;
                color: #FFF;
            }
        }

        .nav-item:hover {
            background-color: #bbb9b9;

            p {
                color: #1A1A1A
            }

            .icon {
                color: #1a1a1a;
            }
        }

        .footer {
            width: 100%;
            flex: 1;
            padding-right: 17.96px;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            p {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 12px;
                line-height: 11px;
                color: #FFFFFF;
                padding-right: 5px;
                cursor: pointer;
            }

            .icon {
                color: #FFF;
            }
        }
    }

    .hide {
        display: none;
    }
}